body{
  background-color: #e7e6e1;
}

h1{
  font-family: "Montserrat";
  font-weight: 900;
}

h3{
  font-family: "Montserrat";
  font-weight: 900;
}
tr{
  font-family: "Montserrat";
  font-weight: 300;
}
ul{
  font-family: "Montserrat";
  font-weight: 300;
}
p{
  font-family: "Montserrat";
  font-weight: 400;
}
